body {
  margin: 0;
  max-width: 100%;
}

#menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 150px;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  float: left;
  height: 150px;
  text-align: left;
  align-items: center;
  font-family: "Arial", sans-serif;
}

#logo {
  width: 150px;
  height: 150px;
  padding-left: 70px;
}

#product {
  width: 260px;
  height: 260px;
  padding-left: 70px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-top: 150px;
  overflow-y: scroll;
  display: inline-flex;
}

#productdiv {
  width: 200px;
  margin: 0 auto;
  height: 400px;
}

#description {
  width: 600px;
  background: #ffffff;
  height: 400px;
  margin-left: 200px;
  text-align: left;
}

#protitle {
  font-family: "Arial", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 30pt;
  padding-left: 20px;
}

#text {
  font-family: "Arial", sans-serif;
  color: black;
  padding-left: 20px;
  font-size: 20pt;
}

#suggestions {
  width: 100%;
  background-color: #b48484;
  padding-top: 20px;
  display: grid;
  position: static;
  height: 800px;
  left: 0;
}

#cartmenu {
  width: 70px;
  background-color: black;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  padding-top: 30px;
  grid-gap: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#navigation {
  width: 10%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 70px;
  padding-top: 30px
}

#menu a {
  color: white;
  text-decoration: none;
  padding-bottom: 20px;
}

#navigation a:hover {
  color: white;
  border-bottom: 5px solid #b48484;
  text-decoration: none;
  padding-bottom: 15px;
}

.titles {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 20pt;
}
